  /* PAGE CODEE PAR ALANNAH VONRUFS*/
.jumbotron 
{
  height: 500px;
  /* Tu lui donnes une image de background */
  background-image: url("bleflou.jpg");
  /* Centre l'image et la met bien sur tous les écrans */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items : center;
  text-align: center;
}

.btn-outline-light
{
  background-color:#FF9100;
  border-radius: 10px;
  padding: 10px;
  border: 1px #F2F2F2 solid;
}

.col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
h3 {
  font-weight: 400;
}

#search
  {
  display: flex;
  }
#search
input 
  { font-size: 9px;
  border-radius: 10px;
  padding: 5px;
  border: 1px #F2F2F2 solid;
  }

input:focus 
  {
  box-shadow: 1px 1px 1px grey;
  color : #FF9100;
  border: 1px #FF9100 solid;
  }

.col-5
{
  background-color: #FF9100;
 
}

.col-4
{
  background-color:#DBDBDB;
 
}

.col-3
{
  background-color:#DBDBDB;
}

h3 {
  font-weight: 400;
}
/ rtl:begin:ignore /
.col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/ rtl:end:ignore */



